

<form action="/DataPasien" method="post">
<table>
    <tr>
        <td> Tambah History</td>
        <td></td>
    </tr>

    <tr>
        <td> <input name="PasienChange" type="text" placeholder="Masukkan Nama Pasien "> </td>
        <td> <input name="HistoryAdd" type="text" placeholder="Masukkan History Pasien"> </td>
    </tr>

    <tr>
        <td></td>
        <td> <button type="submit"> Submit</button> </td>
    </tr>
</table></form>