<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="mainStyles.css">
    <!-- <link rel="sytlesheet" href="mainStyles.css" -->
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
        <a class="navbar-brand" href="#">
            
            <h2>
                <%= NamaUser %>
            </h2>
        </a>
        
    </nav>

<h2> Lantai 2 </h2>
    <div class="container menuTrial-style" style=" text-align: center; margin-top: 10px; ">
        <div class="row">
            <div class="col-sm-3">
                <button type="button" class="btn btn-secondary btn-square-xl" onclick="location.href='/Ranjang'">Ranjang</button>
                
                <button type="button" class="btn btn-secondary btn-square-xl" onclick="location.href='/obat'">Obat</button>
                
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-secondary btn-square-xl" onclick="location.href='/PatientAdmission'">Patient Admission</button>
                <button type="button" class="btn btn-secondary btn-square-xl" onclick="location.href='/CDSS'">CDSS</button>
                
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-secondary btn-square-xl">Patient Transfer</button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-secondary btn-square-xl" onclick="location.href='coba.html'" >Pasien</button>
            </div>


        </div>





    </div>


</body>

</html>