<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obat</title>
</head>
<body>
    <h1> Pilih obat</h1>
    <table>
        <tr>
            <td> Pagi Hari </td>
            <td> <input type="text"></td>
        </tr>

        <tr> 
            <td></td>
            <td> <input type="button" placeholder="Nama obat"> Sebelum makan</td>
            <td> <input type="button" > Sesudah makan</td>
        </tr>

        <tr>
            <td> Siang Hari </td>
            <td> <input type="text"></td>
        </tr>

        <tr> 
            <td></td>
            <td> <input type="button" > Sebelum makan</td>
            <td> <input type="button" > Sesudah makan</td>
        </tr>

        <tr>
            <td> Malam Hari </td>
            <td> <input type="text"></td>
        </tr>

        <tr> 
            <td></td>
            <td> <input type="button" > Sebelum makan</td>
            <td> <input type="button" > Sesudah makan</td>
        </tr>
    </table>

        <h2> Obat Luar</h2>

<table>
<tr>
    <td><p> Jenis Obat</p></td>
    <td> <input style="text"> </td>
    </tr>
    <tr></tr>
    <td> Cara Pemakaian</td>
    <td> <input style="width: 200px; height:60px" type="text"></td>
</tr>

</table>
   
<h1> Alergi</h1>
<table>
    <tr>
        <td><p> Alergi</p></td>
        <td> <input style="width: 200px; height:60px" type="text"> </td>
        </tr>
        <tr></tr>
        <td> Efek Samping</td>
        <td> <input style="width: 200px; height:60px" type="text"></td>
    </tr>
</table>

<table>
    <h2> Pesan Dokter</h2>

    <tr> <h3> Notes</h3></tr>
    <tr><input style="width: 300px; height:60px" type="text" placeholder="Contoh : Habiskan dalam seminggu"></tr>
</table>

</body>
</html>