<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link rel="stylesheet" href="../public/style/mainStyles.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranjang</title>
</head>
<body style="text-align: center;" >


    <table style="text-align: center; width: 100%;" class="tablePasien">
        <tr>
            <td><p> Agustitus</p><i class="fas fa-bed"> </i> <button type="submit"> Submit</button> </td>
            <td><p> </p><i class="fas fa-bed"> </i> <button type="submit"> Submit</button> </td>
            <td><p> </p><i class="fas fa-bed"> </i> <button type="submit"> Submit</button> </td>
        </tr>

        <tr><td><p> </p><i class="fas fa-bed"> </i> <button type="submit"> Submit</button> </td>
            <td><p> </p><i class="fas fa-bed"> </i> <button type="submit"> Submit</button> </td>
            <td><p> John</p><i class="fas fa-bed"> </i> <button type="submit"> Submit</button> </td>
            
        </tr>

        <tr>
            <td><p> </p><i class="fas fa-bed"> </i> <button type="submit"> Submit</button> </td>
            <td><p> </p><i class="fas fa-bed"> </i> <button type="submit"> Submit</button> </td>
            <td><p> </p><i class="fas fa-bed"> </i> <button type="submit"> Submit</button> </td>
        </tr>
        
    </table>
  


    
</body>
</html>